<div class="namesearch">
    <div class="section">
        <input type="search" placeholder="Search" [(ngModel)]="searchText"/>
        <ul *ngFor="let person of persons | filter : searchText">
            <li (click)='selectPerson(person)' [class.selected] = 'person == selectedPerson'>{{person.name}}<span>{{active}}</span></li>
            <!-- <li>{{person.Description}}</li> -->
        </ul>
    </div>
    <div class="section">
        <header-app [person]='selectedPerson'></header-app>
        <likes [person]='selectedPerson'></likes>
    </div>
</div>