<div class="namesearch">
    <div class="section">
        <input type="search" placeholder="Search" [(ngModel)]="searchText"/>
        <ul *ngFor="let person of persons | filter : searchText">
            <li><button (click)='selectPerson(person)' [class.selected]='person == selectedPerson'>{{person.name}}</button></li>
            <!-- <li>{{person.Description}}</li> -->
        </ul>
    </div>
    <div class="section">
        <header-app [person]='selectedPerson'></header-app>
        <likes [person]='selectedPerson'></likes>
    </div>
</div>